<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ac.ict.sensormng">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_title"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="cn.ac.ict.sensormng.service.GPSService" />
        <service android:name="cn.ac.ict.sensormng.service.GSMService" />
        <service android:name="cn.ac.ict.sensormng.service.BluetoothService" />
        <service android:name="cn.ac.ict.sensormng.service.WifiService" />
        <service android:name="cn.ac.ict.sensormng.service.AccelerometerService" />
        <service android:name="cn.ac.ict.sensormng.service.AmbientTemperatureService" />
        <service android:name="cn.ac.ict.sensormng.service.GameRotationVectorService" />
        <service android:name="cn.ac.ict.sensormng.service.GeoMagneticRotationVectorService" />
        <service android:name="cn.ac.ict.sensormng.service.GravityService" />
        <service android:name="cn.ac.ict.sensormng.service.GyroscopeService" />
        <service android:name="cn.ac.ict.sensormng.service.GyroscopeUncalibratedService" />
        <service android:name="cn.ac.ict.sensormng.service.LightService" />
        <service android:name="cn.ac.ict.sensormng.service.LinearAccelerationService" />
        <service android:name="cn.ac.ict.sensormng.service.MagneticFieldService" />
        <service android:name="cn.ac.ict.sensormng.service.MagneticFieldUncalibratedService" />
        <service android:name="cn.ac.ict.sensormng.service.OrientationService" />
        <service android:name="cn.ac.ict.sensormng.service.PressureService" />
        <service android:name="cn.ac.ict.sensormng.service.ProximityService" />
        <service android:name="cn.ac.ict.sensormng.service.RelativeHumidityService" />
        <service android:name="cn.ac.ict.sensormng.service.RotationVectorService" />
        <service android:name="cn.ac.ict.sensormng.service.SignificantMotionService" />
        <service android:name="cn.ac.ict.sensormng.service.StepCounterService" />
        <service android:name="cn.ac.ict.sensormng.service.StepDetectorService" />
        <service android:name="cn.ac.ict.sensormng.service.TemperatureService" />
    </application>

</manifest>
